<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ejs template engine</h1>

    <h3>

        <!-- creating variable -->
        <% var j = 20; %>

        <!-- displaying variable -->
        <%= j %>

        <!-- comment in ejs -->
        <%# ejs comment will not be present in rendered html %>

        <!-- if -->
        <% if(name) { %>
        hey <%= name %>
        <% } %>

        <!-- if with condition -->
        <% if(id==20) { %>
        this is 20
        <% } %>


        <!-- if else -->
        <% if(id==20) { %>
            this is 20
            <% } else { %>
                this is not 20
            <% } %>


        <!-- if else -->
        <% if(id==20) { %>
            this is 20
            <% } else if (id == 25) { %> 
            this is 25

            <% } else { %>
                other
            <% } %>

        <!-- for loop -->
        <% for(i=0; i<=3; i++) { %>
        hello <%= i %>
        <% } %>

        <!-- for in loop -->
        <!-- <% for (const key in marks) { %>
        <%= key %>
        <%= marks[key] %>
        <% } %> -->

        <!-- for of loop -->
        <!-- <% for (const mark of marks) { %>
            <%= mark %>
        <% } %> -->

        <!-- while loop -->
         <% var i=0; %>
        <% while(i<=4) { %>
            <%= i %>
            <%= marks[i] %>
            <% i++ %>
        <% } %>

        <!-- forEach loop -->
         <% marks.forEach((vlalue) => { %> 
            <%= vlalue %>
        <% }) %>
    </h3>
</body>
</html>